@font-face {
    font-family: "Acumin-Variable-Concept";
    src: url("/src/assets/fonts/9d98f534f006d8c613a5dc3ace7fe507.ttf");
}

@font-face {
    font-family: 'Acumin-Pro-Light';
    src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-Book.ttf");
}

@font-face {
    font-family: 'Acumin-Pro-ExtraLight';
    src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-ExtraLight.ttf");
}

$main-measurement: 120px;
