@font-face {
    font-family: "Acumin-Variable-Concept";
    src: url("/src/assets/fonts/AcuminVariableConcept.ttf");
}

@font-face {
    font-family: 'Acumin-Pro-Light';
    src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-Light.ttf");
}

@font-face {
    font-family: 'Acumin-Pro-ExtraLight';
    src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-ExtraLight.ttf");
}

$main-measurement: 120px;
