body {
    font-family: "acumin-pro" !important;
}

.container {
    max-width: 1258px !important;
    margin: 0 auto !important;
    width: 100% !important;
}

.pt-103 {
    padding-top: 103px;
}

.pt-120 {
    padding-top: 120px;
}

.pl-120 {
    padding-left: 120px;
}

.pr-120 {
    padding-right: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.relative {
    position: relative;
}

.h-100vh {
    height: 100vh;
}