@font-face {
  font-family: "Acumin-Variable-Concept";
  src: url("/src/assets/fonts/9d98f534f006d8c613a5dc3ace7fe507.ttf");
}
@font-face {
  font-family: "Acumin-Pro-Light";
  src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-Book.ttf");
}
@font-face {
  font-family: "Acumin-Pro-ExtraLight";
  src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-ExtraLight.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 0 !important;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

ol, ul {
  padding-left: 0rem !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

@font-face {
  font-family: "Acumin-Variable-Concept";
  src: url("/src/assets/fonts/9d98f534f006d8c613a5dc3ace7fe507.ttf");
}
@font-face {
  font-family: "Acumin-Pro-Light";
  src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-Book.ttf");
}
@font-face {
  font-family: "Acumin-Pro-ExtraLight";
  src: url("/src/assets/fonts/FontsFree-Net-Acumin-Pro-ExtraLight.ttf");
}
body {
  font-family: "Acumin-Variable-Concept" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 1920px) {
  .pp-container {
    padding: 120px 120px 0 120px !important;
  }
  .pp-container header .header-logo {
    width: 120px !important;
    height: 120px !important;
  }
}
@media only screen and (max-width: 1920px) {
  .pp-container {
    padding: 120px 120px 0 120px;
  }
  .pp-container header .header-logo {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 1024px) {
  .pp-container {
    padding: 87px 87px 0 87px;
  }
}
@media only screen and (max-width: 600px) {
  .pp-container {
    padding: 53px 53px 0 53px;
  }
  .pp-container header .header-logo {
    width: 60px;
    display: flex;
    align-items: center;
  }
}
.pt-103 {
  padding-top: 103px;
}

.pt-120 {
  padding-top: 120px;
}

.pl-120 {
  padding-left: 120px;
}

.pr-120 {
  padding-right: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.relative {
  position: relative;
}

.h-100vh {
  height: 100vh;
}

@media only screen and (min-width: 1920px) {
  .aside-section .aside-section-button {
    height: 240px;
    top: 50%;
    left: -61px;
    transform: translate(0%, -90%) !important;
  }
  .aside-section aside .aside-menus .aside-nav a {
    font-size: 160px !important;
    font-size: 300px !important;
    line-height: 210px !important;
  }
  .aside-section aside .aside-close img {
    width: 50px;
  }
  .aside-section aside .aside-image img {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1920px) {
  .aside-section .aside-section-button {
    height: 240px;
    top: 50%;
    left: -61px;
    transform: translate(0%, -75%) !important;
  }
  .aside-section aside .aside-menus .aside-nav a {
    font-size: 160px;
    font-size: 300px;
    line-height: 210px;
  }
  .aside-section aside .aside-close img {
    width: 50px;
  }
}
@media only screen and (min-width: 1110px) {
  .aside-section .aside-section-button {
    transform: translate(0%, -80%);
  }
  .aside-section .aside-section-button .d-none-text {
    display: none;
  }
  .aside-section aside .aside-menus {
    align-items: center;
  }
  .aside-section aside .aside-menus .aside-nav {
    padding-right: 113px;
  }
  .aside-section aside .aside-menus .aside-nav a {
    font-size: 160px;
  }
  .aside-section aside .aside-content {
    bottom: 8%;
    left: 15%;
  }
  .aside-section aside .aside-content h1 {
    width: 703px;
    font-size: 120px;
    letter-spacing: -0.06em;
  }
  .aside-section aside .aside-content p {
    font-family: "Acumin-Pro-Light";
    font-size: 20px;
    line-height: 20px !important;
    padding-top: 23px;
    letter-spacing: -0.06em;
  }
  .aside-section aside .aside-image {
    left: 15%;
    top: 16%;
  }
  .aside-section aside .aside-image img {
    width: 73%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 1110px) {
  .aside-section aside .aside-menus {
    align-items: flex-end;
  }
  .aside-section aside .aside-menus .aside-nav {
    padding-right: 87px;
  }
  .aside-section aside .aside-menus .aside-nav a {
    font-size: 120px;
  }
  .aside-section aside .aside-image {
    left: 17%;
    top: -32%;
  }
  .aside-section aside .aside-image img {
    width: 100%;
  }
  .aside-section aside .aside-content {
    bottom: 47%;
    left: 16%;
  }
  .aside-section aside .aside-content h1 {
    width: 520px;
    font-size: 4rem;
    letter-spacing: -3.06px;
  }
  .aside-section aside .aside-content p {
    font-size: 20px;
    padding-top: 23px;
  }
}
@media only screen and (min-width: 728px) {
  .aside-section .aside-section-button {
    transform: translate(0%, -80%);
  }
  .aside-section .aside-section-button .d-none-text {
    display: none;
  }
  .aside-section .aside-section-button p {
    margin-left: -38px;
    font-size: 30px;
    margin-top: 48px;
  }

  .footer-item h1 {
    font-size: 25px !important;
    line-height: 25px;
  }
  .footer-item .footer-info {
    justify-content: flex-end;
  }
  .footer-item .footer-socials a:not(:last-child) {
    margin-left: 124px;
    margin-right: 89.97px;
  }
}
@media only screen and (max-width: 728px) {
  .aside-section .aside-section-button {
    top: 50%;
    left: -51px;
    height: 155px;
    transform: translate(0%, -162%) !important;
  }
  .aside-section .aside-section-button p:nth-child(1) {
    display: none;
  }
  .aside-section .aside-section-button p {
    margin-left: -28px;
    margin-right: -15px;
    font-size: 20px;
    margin-top: 48px;
  }
  .aside-section aside .aside-menus .aside-nav a {
    font-size: 90px;
  }

  .footer-item h1 {
    font-size: 25px !important;
    line-height: 30px;
  }
  .footer-item .footer-info {
    justify-content: space-between;
  }
  .footer-item .footer-socials a:not(:last-child) {
    margin-right: 33.98px;
  }
}
@media only screen and (max-width: 460px) {
  .aside-section aside .aside-close img {
    width: 30px;
  }
  .aside-section aside .aside-menus .aside-nav {
    padding-right: 53px;
    padding-bottom: 53px;
  }
  .aside-section aside .aside-menus .aside-nav a {
    font-size: 87px;
  }
  .aside-section aside .aside-image {
    width: 136%;
    top: 27%;
    left: -4%;
  }
  .aside-section aside .aside-image img {
    width: 80%;
    transform: rotate(90deg);
    -o-object-fit: cover;
       object-fit: cover;
  }
  .aside-section aside .aside-content {
    bottom: 50%;
    left: 16%;
  }
  .aside-section aside .aside-content h1 {
    width: 100%;
    font-size: 50px;
    letter-spacing: -3.06px;
  }
  .aside-section aside .aside-content p {
    font-size: 10px;
    padding-top: 11px;
  }

  .footer-item h1 {
    font-size: 16px !important;
    line-height: 1;
    padding-bottom: 54px;
  }
  .footer-item .footer-info a img {
    width: 20px;
  }
}
.home-bg {
  background: #000000;
  height: 100vh;
  position: relative;
}
.home-bg .aside-section {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: all ease 0.8s;
  background: #E50000;
}
.home-bg .aside-section .aside-section-button {
  position: absolute;
  cursor: pointer;
  background: #E50000;
}
.home-bg .aside-section .aside-section-button p {
  color: #fff;
  font-weight: 700;
  transform: rotate(90deg);
  letter-spacing: -0.06em;
}
.home-bg .aside-section aside .aside-close {
  position: absolute;
  top: 6%;
  left: 8%;
  cursor: pointer;
}
.home-bg .aside-section aside .aside-menus {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.home-bg .aside-section aside .aside-menus .aside-nav {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  text-align: end;
}
.home-bg .aside-section aside .aside-menus .aside-nav a {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.06em;
  transition: all ease 0.2s;
}
.home-bg .aside-section aside .aside-menus .aside-nav a:hover {
  transform: translateX(-50px);
  transition: all ease 0.2s;
}
.home-bg .aside-section aside .aside-image {
  z-index: 9999;
  position: absolute;
  opacity: 0;
  transition: all ease 0.3s;
}
.home-bg .aside-section aside .aside-image.show {
  opacity: 1;
  transition: all ease 0.3s;
}
.home-bg .aside-section aside .aside-content {
  position: absolute;
  opacity: 0;
  transition: all ease 0.3s;
}
.home-bg .aside-section aside .aside-content h1 {
  color: #000000;
  font-weight: 700;
  line-height: 1;
}
.home-bg .aside-section aside .aside-content p {
  line-height: 1;
  color: #000000;
}
.home-bg .aside-section aside .aside-content.show {
  opacity: 1;
  transition: all ease 0.3s;
}
.home-bg .aside-section.active {
  left: 0%;
  transition: all ease 0.8s;
}
.home-bg .slider {
  max-width: 100%;
  margin-bottom: 90px !important;
}
.home-bg .footer-item {
  max-width: 1258px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px !important;
  padding-top: 30px;
}
.home-bg .footer-item .footer-text h1 {
  font-family: "Acumin-Pro-Light";
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.06em;
}
.home-bg .footer-item .footer-info {
  display: flex;
  align-items: center;
}
.home-bg .footer-item .footer-info a {
  font-family: "Acumin-Pro-Light";
}
.home-bg .footer-item .footer-info a:hover {
  color: #E50000 !important;
  transition: all ease 100ms;
}

@media only screen and (min-width: 1920px) {
  .works-aside-section {
    padding: 0px 0px 120px 120px !important;
  }
  .works-aside-section .works-aside-close {
    margin-top: 3% !important;
    margin-left: 45px;
  }
  .works-aside-section .works-aside-menu ul li a {
    font-size: 120px !important;
    line-height: 90% !important;
  }

  .pp-container .works-footer-section h1 {
    font-size: 200px !important;
    line-height: 170px !important;
  }
  .pp-container .works-footer-section p {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 1920px) {
  .works-aside-section {
    padding: 0px 0px 120px 120px;
  }
  .works-aside-section .works-aside-close {
    margin-top: 3%;
    margin-left: 45px;
  }
  .works-aside-section aside .works-aside-menu ul li a {
    font-size: 120px;
    line-height: 90%;
  }

  .pp-container .works-footer-section h1 {
    font-size: 200px;
    line-height: 170px;
  }
  .pp-container .works-footer-section p {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .works-aside-section {
    padding: 0px 0px 35px 120px;
    justify-content: center;
  }
  .works-aside-section .works-aside-close {
    margin-top: 45px;
  }
  .works-aside-section .works-aside-close img {
    width: 50px;
  }
  .works-aside-section aside .works-aside-menu ul li a {
    font-size: 80px;
  }

  .pp-container .header-content h1 {
    font-size: 50px;
  }
  .pp-container .row .hero-content {
    padding: 103px 0 120px 0;
  }
  .pp-container .row .hero-content h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .pp-container .works-footer-section {
    padding-top: 120px;
    padding-bottom: 240px;
  }
  .pp-container .works-footer-section h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .pp-container .works-footer-section p {
    width: 490px;
    padding-top: 120px;
    font-size: 30px;
  }
  .pp-container .works-items:not(:first-child) {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 1024px) {
  .works-aside-section {
    padding-left: 120px;
    padding-bottom: 87px;
    justify-content: end;
  }
  .works-aside-section .works-aside-close {
    margin-top: 35px;
    margin-left: 35px;
  }
  .works-aside-section .works-aside-close img {
    width: 50px;
  }
  .works-aside-section aside .works-aside-menu ul li a {
    font-size: 70px;
  }

  .pp-container .header-content h1 {
    font-size: 50px;
  }
  .pp-container .row .hero-content {
    padding: 87px 0 87px 0;
  }
  .pp-container .row .hero-content h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .pp-container .works-footer-section {
    padding: 87px 0 87px 0;
  }
  .pp-container .works-footer-section h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .pp-container .works-footer-section p {
    padding: 87px 0 0px 0;
    font-size: 30px;
  }
  .pp-container .works-items .overlay-item .item-info {
    display: none;
  }
  .pp-container .works-items:not(:first-child) {
    margin-top: 87px;
  }
}
@media only screen and (max-width: 728px) {
  .works-aside-section {
    padding-left: 87px;
  }
  .works-aside-section aside .works-aside-menu ul li a {
    font-size: 60px;
  }

  .pp-container .header-content h1 {
    font-size: 40px;
  }
  .pp-container .row .hero-content h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .pp-container .works-footer-section h1 {
    font-size: 80px;
  }
  .pp-container .works-footer-section p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .works-aside-section {
    padding-left: 53px;
    padding-bottom: 53px;
  }
  .works-aside-section aside .works-aside-menu ul li a {
    font-size: 50px;
  }

  .pp-container .header-content h1 {
    font-size: 25px;
  }
  .pp-container .row .hero-content {
    padding: 53px 0 53px 0;
  }
  .pp-container .row .hero-content h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .pp-container .works-footer-section {
    padding: 53px 0 53px 0;
  }
  .pp-container .works-footer-section h1 {
    font-size: 80px;
    line-height: 70px;
  }
  .pp-container .works-footer-section p {
    padding: 53px 0 0px 0;
    font-size: 20px;
  }
  .pp-container .works-items:not(:first-child) {
    margin-top: 53px;
  }
}
@media only screen and (max-width: 460px) {
  .works-aside-section .works-aside-close img {
    width: 30px;
  }

  .pp-container .header-content h1 {
    font-size: 20px;
  }
  .pp-container .row .hero-content h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
.works-section {
  background: #000000;
  height: 100%;
  position: relative;
}
.works-section .works-aside-section {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 100%;
  right: 0;
  background: #ffffff;
  z-index: 9999;
  transition: all ease 0.4s;
}
.works-section .works-aside-section .works-aside-close img {
  cursor: pointer;
}
.works-section .works-aside-section aside .works-aside-menu ul li a {
  color: #000000 !important;
  font-weight: 700;
  transition: all ease 0.2s;
  letter-spacing: -0.06em;
}
.works-section .works-aside-section aside .works-aside-menu ul li a:hover {
  color: #E50000 !important;
  padding-left: 45px;
  transition: all ease 0.2s;
}
.works-section .works-aside-section.active {
  left: 0%;
  transition: all ease 0.4s;
}

.pp-container .header-content {
  cursor: pointer;
}
.pp-container .header-content h1 {
  color: #ffffff;
  font-weight: 700;
}
.pp-container .header-content h1 span {
  color: #E50000;
}
.pp-container .hero-content h1 {
  font-weight: 700;
  letter-spacing: -0.06em;
  color: #FFFFFF;
}
.pp-container .works-items {
  position: relative;
  cursor: pointer;
}
.pp-container .works-items .overlay-item {
  position: absolute;
  top: 0;
  bottom: 2px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.6s ease;
  background: rgba(176, 176, 176, 0.5);
  border-radius: 4px;
}
.pp-container .works-items .overlay-item .item-info {
  width: 240px;
  height: 240px;
  border: 8px solid #E50000;
  margin-top: 120px;
  margin-left: 120px;
  padding: 10px 0px 0px 10px;
}
.pp-container .works-items .overlay-item .item-info h1 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
}
.pp-container .works-items .overlay-item .item-info span {
  font-family: "Acumin-Pro-Light";
  font-size: 20px;
  font-weight: 400;
}
.pp-container .works-items:hover .overlay-item {
  opacity: 1;
}
.pp-container .works-footer-section h1 {
  font-weight: 700;
  letter-spacing: -0.06em;
  color: #ffffff;
}
.pp-container .works-footer-section p {
  font-family: "Acumin-Pro-Light";
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  line-height: 30px;
}

.works-template {
  background: #FFFFFF;
  height: 100%;
}
.works-template .hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.works-template .hero-section .works-aside-close {
  position: absolute;
  top: 0;
  padding-top: 100px;
}
.works-template .hero-section .hero-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0 35px 120px;
  color: #ffffff;
}
.works-template .hero-section .hero-content h1 {
  font-size: 80px;
}
.works-template .hero-section .hero-content p {
  padding-top: 60px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}
.works-template .hero-section .hero-content span {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}
.works-template .project-desc h1 {
  color: #000000;
  font-size: 30px;
  letter-spacing: -0.06em;
}

@media only screen and (min-width: 1920px) {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main-content h1 {
    font-size: 120px !important;
    line-height: 80%;
  }
  .main-content a {
    font-size: 80px !important;
  }

  .footer-items h1 {
    font-size: 80px !important;
  }
  .footer-items .footer-section .footer-socials a {
    font-size: 50px;
  }
  .footer-items .footer-section .footer-desc p {
    font-size: 30px !important;
    line-height: 30px !important;
  }
}
@media only screen and (max-width: 1920px) {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main-content h1 {
    font-size: 120px;
    line-height: 80%;
  }
  .main-content a {
    font-size: 80px;
  }

  .footer-section {
    margin-bottom: 100px !important;
  }
  .footer-section .footer-items h1 {
    font-size: 80px;
  }
  .footer-section .footer-items .footer-socials a {
    font-size: 50px;
  }
  .footer-section .footer-desc p {
    font-size: 30px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .header-location h1 {
    font-size: 30px;
  }

  .main-content h1 {
    font-size: 80px;
  }
  .main-content a {
    font-size: 60px;
  }

  .footer-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1024px) {
  .pp-container {
    padding: 87px 87px 0 87px;
  }

  .header-location h1 {
    font-size: 20px;
  }

  .main-content h1 {
    font-size: 70px;
    padding-top: 53px;
  }
  .main-content a {
    font-size: 50px;
  }

  .footer-section {
    padding-top: 73px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-section .footer-desc {
    padding-top: 28px;
  }
}
@media only screen and (max-width: 600px) {
  .pp-container {
    padding: 53px 53px 0 53px;
  }

  .main-content h1 {
    font-size: 60px;
  }
  .main-content a {
    font-size: 30px;
  }

  .header-location h1 {
    font-size: 18px;
  }

  .header-logo {
    width: 60px;
  }

  .footer-section .footer-items h1 {
    font-size: 50px !important;
  }
  .footer-section .footer-items .footer-socials a {
    font-size: 30px !important;
  }
  .footer-section .footer-desc p {
    width: none;
    font-size: 16px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 460px) {
  .main-content a {
    font-size: 22px;
  }

  .header-location h1 {
    font-size: 10px;
  }

  .header-logo a img {
    width: 54px;
  }
}
.bg-fon {
  background: #000000;
  height: 100vh;
}
.bg-fon .header-location h1 {
  font-family: "Acumin-Pro-Light";
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: -0.07em;
}
.bg-fon .main-content h1 {
  color: #FFFFFF;
  letter-spacing: -0.07em;
  font-weight: 700;
}
.bg-fon .main-content a {
  font-family: "Acumin-Pro-ExtraLight";
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: -0.07em;
  line-height: 1;
  transition: all ease 100ms;
}
.bg-fon .main-content a:hover {
  color: #E50000 !important;
  transition: all ease 100ms;
}
.bg-fon .footer-section {
  margin-bottom: 100px !important;
}
.bg-fon .footer-section .footer-items h1 {
  letter-spacing: -0.06em;
  font-weight: 700;
}
.bg-fon .footer-section .footer-items .footer-socials a {
  font-family: "Acumin-Pro-ExtraLight";
  line-height: 1;
  transition: all ease 100ms;
}
.bg-fon .footer-section .footer-items .footer-socials a:hover {
  color: #E50000 !important;
  transition: all ease 100ms;
}
.bg-fon .footer-section .footer-desc p {
  font-family: "Acumin-Pro-Light";
  font-weight: 400;
  letter-spacing: -0.06em;
}