@media only screen and (min-width: 1920px) {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
            font-size: 120px !important;
            line-height: 80%;
        }
        a {
            font-size: 80px !important;
        }
    }
    .footer-items {
        h1 {
            font-size: 80px !important;
        }
        .footer-section {
            .footer-socials {
                a {
                    font-size: 50px;
                }
            }
            .footer-desc {
                p {
                    font-size: 30px !important;
                    line-height: 30px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1920px) {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
            font-size: 120px;
            line-height: 80%;
        }
        a {
            font-size: 80px;
        }
    }
    .footer-section {
        margin-bottom: 100px !important;
        .footer-items {
            h1 {
                font-size: 80px;
            }
            .footer-socials {
                a {
                    font-size: 50px;
                }
            }
        }
        .footer-desc {
            p {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .pp-container {
        padding: 0 120px 0 120px;
    }
    .header-location {
        h1 {
            font-size: 30px;
        }
    }
    .main-content {
        h1 {
            font-size: 80px;
        }
        a {
            font-size: 60px;
        }
    }
    .footer-section {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .footer-desc {
        p {
            // width: 381px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .pp-container {
        padding: 87px 87px 0 87px;
    }
    .header-location {
        h1 {
            font-size: 20px;
        }
    }
    .main-content {
        h1 {
            font-size: 70px;
            padding-top: 53px;
        }
        a {
            font-size: 50px;
        }
    }
    .footer-section {
        padding-top: 73px;
        align-items: flex-start;
        flex-direction: column;
        .footer-desc {
            padding-top: 28px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .pp-container {
        padding: 53px 53px 0 53px;
    }
    .main-content {
        h1 {
            font-size: 60px;
        }
        a {
            font-size: 30px;
        }
    }
    .header-location {
        h1 {
            font-size: 18px;
        }
    }
    .header-logo {
        width: 60px;
    }
    .footer-section {
        .footer-items {
            h1 {
                font-size: 50px !important;
            }
            .footer-socials {
                a {
                    font-size: 30px !important;
                }
            }
        }
        .footer-desc {
            p {
                width: none;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    .main-content {
        a {
            font-size: 22px;
        }
    }
    .header-location {
        h1 {
            font-size: 10px;
        }
    }
    .header-logo {
        a {
            img {
                width: 54px;
            }
        }
    }
}

.bg-fon {
    background: #000000;
    height: 100vh;
    .header-location {
        h1 {
            font-family: 'Acumin-Pro-Light';
            color: #FFFFFF;
            line-height: 1;
            letter-spacing: -0.07em;
        }
    }
    .main-content {
        h1 {
            color: #FFFFFF;
            letter-spacing: -0.07em;
            font-weight: 700;
        }
        a {
            font-family: 'Acumin-Pro-ExtraLight';
            color: #FFFFFF;
            font-weight: 400;
            letter-spacing: -0.07em;
            line-height: 1;
            transition: all ease 100ms;
        }
        a:hover {
            color: #E50000 !important;
            transition: all ease 100ms;
        }
    }
    .footer-section {
        margin-bottom: 100px !important;
        .footer-items {
            h1 {
                letter-spacing: -0.06em;
                font-weight: 700;
            }
            .footer-socials {
                a {
                    font-family: 'Acumin-Pro-ExtraLight';
                    line-height: 1;
                    transition: all ease 100ms;
                }
                a:hover {
                    color: #E50000 !important;
                    transition: all ease 100ms;
                }
            }
        }
        .footer-desc {
            p {
                font-family: 'Acumin-Pro-Light';
                font-weight: 400;
                letter-spacing: -0.06em;
            }
        }
    }
}