@media only screen and (min-width: 1024px) {
    .bg-fon {
        height: 100vh;
    }
    .contact-container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .header-location {
        h1 {
            font-size: 25px;
        }
    }
    .main-content {
        h1 {
            font-size: 80px;
        }
        a {
            font-size: 60px;
        }
    }
    .footer-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
}

@media only screen and (max-width: 1024px)  {
    .contact-container {
        padding-left: 87px;
        padding-right: 87px;
    }
    .header-location {
        h1 {
            font-size: 20px;
        }
    }
    .main-content {
        h1 {
            font-size: 70px;
            padding-top: 53px;
        }
        a {
            font-size: 50px;
        }
    }
    .footer-section {
        padding-top: 73px;
        align-items: flex-start;
        flex-direction: column;
        .footer-desc {
            padding-top: 28px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact-container {
        padding-left: 33px;
        padding-right: 33px;
    }
    .main-content {
        h1 {
            font-size: 70px;
        }
        a {
            font-size: 30px;
        }
    }
}

.bg-fon {
    background: #000000;
    padding-top: $main-measurement;
    .header-location {
        h1 {
            color: #FFFFFF;
            line-height: 1;
            letter-spacing: -0.07em;
        }
    }
    .main-content {
        h1 {
            line-height: 1;
            color: #FFFFFF;
            letter-spacing: -0.07em;
            font-weight: 700;
        }
        a {
            color: #FFFFFF;
            font-weight: 400;
            letter-spacing: -0.07em;
            line-height: 1;
            transition: all ease .2s;
        }
        a:hover {
            color: #E50000 !important;
            transition: all ease .2s;
        }
    }
    .footer-items {
        h1 {
            font-size: 40px;
            letter-spacing: -0.09em;
            font-weight: 700;
        }
        .footer-socials {
            a {
                font-size: 22px;
                line-height: 1;
                transition: all ease .2s;
            }
            a:hover {
                color: #E50000 !important;
                transition: all ease .2s;
            }
        }

    }
    .footer-desc {
        p {
            width: 381px;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.07em;
            line-height: 1;
        }
    }
}