@media only screen and (min-width: 1110px) {

}

@media only screen and (min-width: 728px) {
    .aside-section {
        .aside-section-button {
            top: 50%;
            left: -40px;
            // width: 40px;
            height: 180px;
            background: #E50000;
        }
        aside {
            .aside-menus {
                .aside-nav {
                    a {
                        font-size: 10rem;
                    }
                }
            }
        }
    }
    .footer-item {
        h1 {
            font-size: 25px !important;
            line-height: 30px;
        }
        .footer-info {
            justify-content: flex-end;
        }
        .footer-socials {
            a:not(:last-child) {
                margin-left: 124px;
                margin-right: 89.97px;
            }
        }
    }
}

@media only screen and (max-width: 728px) {
    .aside-section {
        .aside-section-button {
            top: 40%;
            left: -40px;
            height: 160px;
            background: #E50000;
        }
    }
    .footer-item {
        h1 {
            font-size: 25px !important;
            line-height: 30px;
        }
        .footer-info {
            justify-content: space-between;
        }
        .footer-socials {
            a:not(:last-child) {
                // margin-left: 124px;
                margin-right: 33.98px;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    .aside-section {
        .aside-section-button {
            top: 35%;
            left: -40px;
            height: 155px;
        }
    }
    .footer-item {
        h1 {
            font-size: 16px !important;
            line-height: 1;
            padding-bottom: 54px;
        }
        .footer-info {
            a {
                img {
                    width: 20px;
                }
            }
        }
    }
}

.home-bg {
    background: #000000;
    height: 100vh;
    position: relative;
    .aside-section {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0%;
        top: 0;
        right: 0;
        z-index: 1000;
        transition: all ease .8s;
        background: #E50000;
        .aside-section-button {
            position: absolute;
            cursor: pointer;
            transform: translate(-0%, -70%);
            p {
                margin-left: -34px;
                color: #fff;
                font-weight: 700;
                transform: rotate(90deg);
                margin-top: 45px;
            }
        }
        aside {
            // position: relative;
            // display: none;
            .aside-close {
                position: absolute;
                top: 6%;
                left: 8%;
                cursor: pointer;
            }
            .aside-menus {
                width: 100%;
                height: 100vh;
                .aside-nav {
                    display: flex;
                    flex-direction: column;
                    padding-right: 5rem;
                    z-index: 9999;
                    text-align: end;
                    a {
                        font-weight: 700;
                        letter-spacing: -10.4px;
                        line-height: 1;
                        transition: all ease .2s;
                    }
                    a:hover {
                        transform: translateX(-50px);
                        transition: all ease .2s;
                    }
                }
                .aside-content-image {
                    // width: 1000px;
                    z-index: 9999;
                    position: relative;
                    left: 14%;
                    top: 5%;
                    opacity: 0;
                    transition: all ease .3s;
                    img {
                        width: 100%;
                        // object-fit: contain;
                    }
                }
                .aside-content-image.show {
                    opacity: 1;
                    transition: all ease .3s;
                }
            }
            .aside-content {
                position: absolute;
                bottom: 8%;
                left: 15%;
                opacity: 0;
                transition: all ease .3s;
                h1 {
                    width: 520px;
                    color: #000000;
                    font-weight: 700;
                    font-size: 4rem;
                    letter-spacing: -3.06px;
                    line-height: 1;
                }
                p {
                    // width: 270px;
                    line-height: 1;
                    font-size: 20px;
                    padding-top: 23px;
                    color: #000000;
                }
            }
            .aside-content.show {
                opacity: 1;
                transition: all ease .3s;
            }
        }
    }
    .aside-section.active {
        left: 0%;
        transition: all ease .8s;
    }
    .slider-items {
        h1 {
            color: #303030;
            letter-spacing: -0.06em;
            font-size: 4rem;
            font-weight: 700;
        }
    }
    .footer-item {
        margin-bottom: 45px !important;
        padding-top: 30px;
        .footer-text {
            h1 {
                // width: 390px;
                font-weight: 400;
                color: #fff;
                letter-spacing: -0.06em;
            }
        }
        .footer-info {
            display: flex;
            align-items: center;
            a:hover {
                color: #E50000 !important;
            }
        }
    }
}